@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: "Press Start 2P", system-ui;
}

section#title {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
}

.game-area {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding: 10px;
}

.color-grid {
    border: red 1px solid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 30px;
}

.colorTiles {
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px;
}

.tile {
    background-color: #f0f0f0; /* Example style */
    text-align: center;
    padding: 40px;
}


